
/*CSS Custom properties to easily switch colors
between projects*/

:root{
    --main-bg-color:#003333;
    --main-text-color: #CCFF99;
    --accent-text-color: #CCFF66;
    --accent-bg-color: #009900;
    --title-color:#3399FF;
}

*{
    box-sizing: border-box;

}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}


/*HEADER SETTINGS*/
body header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    margin: 1.5rem 0;
}

header h1{
    font-size: 2.5rem;
    padding: 1rem;
    margin: 1rem 0;
}







/*MAIN SETTINGS*/
body main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

main section div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer{

    width: 100vw;
    height: 100%;
    background-color: var(--accent-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    margin: 0;
    text-align: center;
}

a{
    color: var(--accent-bg-color);
    text-decoration: none;
    padding: 1rem;
}

a:hover{
    cursor: pointer;

}

button{
    background-color: var(--accent-bg-color); /* Green */
    border: 1px solid var(--accent-bg-color);
    color: var(--accent-text-color);
    width: 85px;
    height: 45px;
    padding: 1rem;
    margin: 1rem 0 0 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
